.tam {
    min-width: 100%;
    height: 25%;
    position: fixed;
    z-index: -100;
    background-size: cover;
    background-color: rgb(203, 243, 203);
}

.example-card {
    width: 80%;
    max-width: auto;
    max-height: auto;
}

.titulo {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
}

.text {
    font-size: 19px;
    margin-top: 30px;
}

.text2 {
    font-size: 16px;
    text-align: right;
}

.text3 {
    font-size: 16px;
    text-align: justify;
}

mat-sidenav-container,
mat-sidenav-content,
mat-sidenav {
    height: 100%;
}

mat-sidenav {
    width: 300px;
    background-color: #f4f4f4;
}